html,
body {
  font-family: "Kanit-Light" !important;
  color: #000B33;
}

a {
  display: block;
  text-decoration: none !important;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
  line-height: 1.5 !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}
ul li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Kanit-Light";
  src: url("../../assets/fonts/Kanit/Kanit-Light.ttf");
}
@font-face {
  font-family: "Kanit-Regular";
  src: url("../../assets/fonts/Kanit/Kanit-Regular.ttf");
}
@font-face {
  font-family: "Kanit-Medium";
  src: url("../../assets/fonts/Kanit/Kanit-Medium.ttf");
}
@font-face {
  font-family: "Kanit-SemiBold";
  src: url("../../assets/fonts/Kanit/Kanit-SemiBold.ttf");
}
.a-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.a-wrap .a-wrap-item {
  width: 50%;
  margin-left: auto;
  min-height: 600px;
  display: flex;
  align-items: center;
  padding: 100px 0px 100px 100px;
}
.a-wrap .a-wrap-item .txt {
  width: 65%;
}
.a-wrap .a-wrap-item1 {
  width: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  justify-content: end;
}
.a-wrap .a-wrap-item1 .img {
  width: 700px;
  margin-right: -50px;
}

.a-wrap.a-wrap1 .a-wrap-item {
  margin-left: 0;
  margin-right: auto;
  justify-content: end;
  padding: 100px 100px 100px 0px;
}
.a-wrap.a-wrap1 .a-wrap-item1 {
  left: auto;
  right: 0;
  justify-content: end;
}
.a-wrap.a-wrap1 .a-wrap-item1 .img {
  margin-right: auto;
  margin-left: -50px;
}

.w-list {
  padding-left: 20px !important;
}
.w-list .w-item {
  margin-bottom: 10px;
  padding-left: 15px;
}
.w-list .w-item::marker {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  color: #f67509;
  font-size: 20px;
}
.w-list .w-item span {
  font-size: 20px;
}

.box-os {
  position: relative;
  overflow: hidden;
}
.box-os .img {
  overflow: hidden;
}
.box-os .img img {
  transition: all 0.3s;
}
.box-os .txt {
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 40px 20px 20px 20px;
  color: #fff;
  background: linear-gradient(0deg, #f16037 0%, rgba(246, 117, 9, 0) 100%);
}
.box-os .txt h3 {
  font-size: 20px;
  transition: all 0.3s;
}
.box-os .txt p {
  transition: all 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.box-os .link-more {
  position: absolute;
  color: #fff;
  bottom: -40px;
  right: 20px;
  transition: all 0.3s;
}
.box-os .link-more:hover {
  text-decoration: underline !important;
}
.box-os:hover .img img {
  transform: scale(1.1);
}
.box-os:hover .txt {
  height: 100%;
  background: linear-gradient(0deg, rgba(241, 96, 55, 0.8) 0%, rgba(246, 117, 9, 0.8) 100%);
}
.box-os:hover .txt h3 {
  font-size: 21px;
}
.box-os:hover .txt p {
  font-size: 18px;
  overflow: auto;
  -webkit-line-clamp: inherit;
}
.box-os:hover .link-more {
  bottom: 20px;
}

.box-b {
  position: relative;
  overflow: hidden;
}
.box-b .img {
  overflow: hidden;
}
.box-b .img img {
  transition: all 0.3s;
}
.box-b .txt {
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 40px 20px 20px 20px;
  color: #fff;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.box-b .txt h3 {
  font-size: 20px;
  transition: all 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.box-b:hover .img img {
  transform: scale(1.1);
}
.box-b:hover .txt h3 {
  font-size: 21px;
  color: #f67509;
}

.link-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.link-list .link-item {
  border-right: 1px solid #fff;
}
.link-list .link-item a {
  color: #fff;
  margin: 5px 20px;
  text-decoration: underline !important;
  transition: all 0.3s;
}
.link-list .link-item a:hover {
  color: #f67509;
}
.link-list .link-item:last-child {
  border-right: none;
}

.menu-icon {
  cursor: pointer;
  display: none;
  padding: 20px 0;
  width: 30px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 28px;
}
.menu-icon .navicon::before, .menu-icon .navicon::after {
  background: #ffffff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.menu-icon .navicon::before {
  top: 6px;
}
.menu-icon .navicon::after {
  top: -6px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay.show {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  padding: 15px 0;
  transition: all 0.3s;
}
.header .wrap {
  align-items: center;
  justify-content: space-between;
}
.header .img-logo {
  width: 100px;
  transition: all 0.3s;
}
.header .menu-h-list {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 40px !important;
}
.header .menu-h-list .menu-item.active .menu-link {
  color: #ffffff;
  font-family: "Kanit-SemiBold";
}
.header .menu-h-list .menu-item {
  margin: 0 20px;
}
.header .menu-h-list .menu-item .menu-link {
  color: #ececec;
  transition: all 0.3s;
  font-size: 18px;
}
.header .menu-h-list .menu-item .menu-link:hover {
  color: #ffffff;
}

.btn-lang {
  width: 110px;
  border: 1px solid #fff !important;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  padding: 5px 20px;
}
.btn-lang:focus {
  border: 1px solid #fff !important;
}

.dropdown-menu {
  overflow: hidden;
}
.dropdown-menu .dropdown-item:focus {
  background-color: #f27109;
}

.social-box #click {
  display: none;
}
.social-box #click:checked ~ .social-btn .fa-xmark {
  display: block;
}
.social-box #click:checked ~ .social-btn .fa-comment-dots {
  display: none;
}
.social-box #click:checked ~ .social-wrap a.social-lnk.fb {
  bottom: 84px;
}
.social-box #click:checked ~ .social-wrap a.social-lnk.wsa {
  bottom: 144px;
}
.social-box .social-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  background-color: #f27109;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  transition: all 0.3s;
  cursor: pointer;
}
.social-box .social-btn svg {
  width: 28px;
  height: 28px;
  transition: all 0.3s;
}
.social-box .social-btn svg path {
  fill: #fff;
}
.social-box .social-btn .fa-xmark {
  display: none;
}
.social-box .social-btn .fa-comment-dots {
  display: block;
}
.social-box .social-btn:hover svg {
  transform: scale(1.2);
  transition: all 0.3s;
}
.social-box .social-wrap .social-lnk {
  position: fixed;
  bottom: 21px;
  right: 21px;
  z-index: 3;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.social-box .social-wrap .social-lnk svg {
  width: 28px;
  height: 28px;
  transition: all 0.3s;
}
.social-box .social-wrap .social-lnk svg path {
  fill: #fff;
}
.social-box .social-wrap .social-lnk:hover svg {
  transform: scale(1.2);
  transition: all 0.3s;
}
.social-box .social-wrap .fb {
  background-color: #0058d0;
}
.social-box .social-wrap .wsa {
  background-color: #00c600;
}

.menu-m-list {
  position: fixed;
  width: 280px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 101;
  background: linear-gradient(0deg, #f16037 0%, #f67509 100%);
  transform: translateX(280px);
  display: none;
  transition: all 0.3s;
  padding: 20px;
}
.menu-m-list .close {
  position: absolute;
  top: 15px;
  right: 12px;
}
.menu-m-list .close .navicon {
  background: transparent;
}
.menu-m-list .close .navicon::before, .menu-m-list .close .navicon::after {
  background: #ffffff;
  top: 0;
}
.menu-m-list .close .navicon::before {
  transform: rotate(-45deg);
}
.menu-m-list .close .navicon::after {
  transform: rotate(45deg);
}
.menu-m-list .menu {
  margin-top: 40px !important;
}
.menu-m-list .menu-item.active .menu-link {
  color: #ffffff;
  font-family: "Kanit-SemiBold";
}
.menu-m-list .menu-item {
  margin: 15px 0 !important;
}
.menu-m-list .menu-item .menu-link {
  color: #ffffff;
  transition: all 0.3s;
  font-size: 20px;
}
.menu-m-list .menu-item .menu-link:hover {
  color: #e45e27;
}

.menu-m-list.show {
  transform: translateX(0);
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.button-main {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  color: #fff;
  border-radius: 10px;
  transition: all 0.3s;
  font-size: 18px;
  font-family: "Kanit-Medium";
}
.button-main:hover {
  color: #fff;
}

.btn-hover:hover {
  background: #3F3F3F;
}

.button-main.bgc-2:hover {
  color: #fff;
  background: #3f3f3f;
}

button.button-main {
  border: none;
}

.bg-fixed {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-fixed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 250, 245, 0.85);
}

.bgc-1 {
  background: linear-gradient(180deg, #f16037 0%, #f67509 100%);
}

.bgc-2 {
  background: #ffffff;
}

.bgc-3 {
  background: #fffaf5;
}

.bgc-4 {
  background: #f67509;
}

.inp-form {
  background: #ffffff;
  border: 1px solid #f67509;
  border-radius: 0.25rem;
}

.c-dark {
  color: #3f3f3f;
}

.c-gray {
  color: #3f3f3f;
}

.c-white {
  color: #fff;
}

.c-orange {
  color: #f67509;
}

.t-bold {
  font-family: "Kanit-SemiBold";
}

.t-medium {
  font-family: "Kanit-Medium";
}

.txt-shr {
  font-family: "Kanit-Medium";
  font-size: 20px;
}

.scl-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.scl-list .scl-item {
  margin-top: 10px;
  margin-right: 10px;
}
.scl-list .scl-item .scl-link {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.scl-list .scl-item .scl-link svg {
  width: 28px;
  height: 28px;
  transition: all 0.3s;
}
.scl-list .scl-item .scl-link svg path {
  fill: #fff;
}
.scl-list .scl-item .scl-link:hover svg {
  transform: scale(1.2);
}
.scl-list .scl-item .scl-link.fb {
  background-color: #0058d0;
}
.scl-list .scl-item .scl-link.tw {
  background-color: #4fc5f7;
}
.scl-list .scl-item .scl-link.wsa {
  background-color: #00c600;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}
.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(211, 57, 29, 0.4) 0%, rgba(241, 96, 55, 0.4) 100%);
}
.banner .txt {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.banner .txt h1 {
  font-size: 70px;
}

.banner-main {
  height: 500px;
}
.banner-main::before {
  content: "";
  height: 500px;
}
.banner-main .txt h1 {
  font-size: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.bg-banner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  padding: 70px 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel-pp1 .owl-item.active.center .card-box {
  background-color: #f67509;
  margin-top: 0px;
  height: 450px;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .head {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .head h3.t-bold {
  color: #ffffff;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .head p {
  opacity: 0.7;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .head .icon svg path {
  fill: #ffffff;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .body p {
  color: #fff;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .foot .button-main.bgc-1 {
  background: #fff;
  color: #f16037;
}
.owl-carousel-pp1 .owl-item.active.center .card-box .foot .button-main.bgc-1:hover {
  color: #ffffff;
  background: #3f3f3f;
}
.owl-carousel-pp1 .card-box {
  margin-top: 25px;
  height: 400px;
}
.owl-carousel-pp1 .owl-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.owl-carousel-pp1 .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 5px;
  background-color: rgba(246, 117, 9, 0.4);
}
.owl-carousel-pp1 .owl-dots .owl-dot.active {
  background-color: #f67509;
}

.owl-carousel-slide .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  position: absolute;
  bottom: 20px;
  z-index: 2;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.owl-carousel-slide .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 5px;
  background-color: transparent;
  border: 1px solid #ffffff !important;
}
.owl-carousel-slide .owl-dots .owl-dot.active {
  background-color: #ffffff;
}

.c-list li {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}
.c-list li .icon-c {
  min-width: 25px;
  padding-top: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

p img {
  width: 100% !important;
  height: auto !important;
}

#accordionDetail .accordion-item {
  margin-top: 10px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fffaf5;
}
#accordionDetail .accordion-button {
  background-color: #f27109;
  color: #fff;
  font-size: 18px;
  font-family: "Kanit-Medium";
}
#accordionDetail .accordion-button::after {
  content: "\f078";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ffffff;
  font-size: 20px;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-w {
  width: 250px;
}

.box-search {
  width: 250px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.box-search input {
  border: none;
  background-color: #fff;
  padding: 5px 20px;
  width: calc(100% - 43px);
}
.box-search .btn-search {
  width: 43px;
  height: 43px;
  background-color: #f27109;
  border: none !important;
}
.box-search .btn-search svg path {
  fill: #fff;
}

.product-carousel .owl-next,
.product-carousel .owl-prev {
  width: 40px;
  height: 40px;
  background: transparent !important;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
}
.product-carousel .owl-next svg,
.product-carousel .owl-prev svg {
  font-size: 20px;
}
.product-carousel .owl-next svg path,
.product-carousel .owl-prev svg path {
  fill: #f27109;
}
.product-carousel .owl-next:hover,
.product-carousel .owl-prev:hover {
  background: transparent !important;
}
.product-carousel .owl-next.disabled,
.product-carousel .owl-prev.disabled {
  opacity: 0;
}
.product-carousel .owl-next {
  right: -10px;
}
.product-carousel .owl-prev {
  left: -10px;
}
.product-carousel .icon {
  width: 24px;
  justify-content: start !important;
}

#imageGallery .showgal-product {
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lSPager.lSGallery {
  margin-top: 20px !important;
}
.lSPager.lSGallery li {
  border: 1px solid #E0E0E0;
}
.lSPager.lSGallery li a {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumb .breadcrumb-item a {
  color: #3F3F3F;
  overflow: auto;
}
.breadcrumb .breadcrumb-item.active {
  color: #f27109;
}

.pagination .page-item.active .page-link {
  background-color: #f27109;
  color: #fff;
  border: 1px solid #f27109;
}
.pagination .page-item {
  margin-left: 10px;
}
.pagination .page-item .page-link {
  border: 1px solid #f27109;
  border-radius: 10px !important;
  width: 40px;
  color: #f27109;
  background-color: #fff;
  text-align: center;
}

.owl-carousel-rp {
  position: relative;
}
.owl-carousel-rp .owl-next,
.owl-carousel-rp .owl-prev {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3) !important;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
}
.owl-carousel-rp .owl-next svg,
.owl-carousel-rp .owl-prev svg {
  font-size: 20px;
}
.owl-carousel-rp .owl-next svg path,
.owl-carousel-rp .owl-prev svg path {
  fill: #fff;
}
.owl-carousel-rp .owl-next:hover,
.owl-carousel-rp .owl-prev:hover {
  background: rgba(0, 0, 0, 0.5) !important;
}
.owl-carousel-rp .owl-next.disabled,
.owl-carousel-rp .owl-prev.disabled {
  opacity: 0;
}
.owl-carousel-rp .owl-next {
  right: 0px;
}
.owl-carousel-rp .owl-prev {
  left: 0px;
}
.owl-carousel-rp .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.owl-carousel-rp .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 5px;
  background-color: #ffffff;
  border: 1px solid #e45e27 !important;
}
.owl-carousel-rp .owl-dots .owl-dot.active {
  background-color: #e45e27;
}

.pd-box {
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.pd-box .badge-tag {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 0;
  padding: 3px 10px;
  border-radius: 50px 0 0 50px;
  font-size: 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.pd-box .head {
  overflow: hidden;
}
.pd-box .head img {
  transition: all 0.3s;
}
.pd-box .head:hover img {
  transform: scale(1.1);
}
.pd-box .body {
  padding: 20px 20px 0 20px;
}
.pd-box .body a {
  transition: all 0.3s;
}
.pd-box .body a:hover {
  color: #3f3f3f;
}
.pd-box .foot {
  padding: 20px;
}
.pd-box .button-main.bgc-1 {
  background: #f67509;
  color: #ffffff;
}
.pd-box .button-main.bgc-1:hover {
  background: #3f3f3f;
}

.cate-box {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.cate-box .cate-head {
  border-radius: 5px 5px 0 0;
}
.cate-box .icon {
  width: 40px;
  font-size: 22px;
  margin-right: 10px;
}
.cate-box .cate-list .cate-item a span {
  transition: all 0.3s;
  font-size: 14px;
}
.cate-box .cate-list .cate-item a:hover span {
  color: #f27109;
}

.card-box {
  position: relative;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  padding: 30px 30px 100px 30px;
  background-color: #fffaf5;
}
.card-box .head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.card-box .head h3.t-bold {
  color: #f67509;
}
.card-box .head .txt {
  font-size: 50px;
}
.card-box .head .icon svg {
  width: 50px;
  height: 50px;
}
.card-box .head .icon svg path {
  fill: #f67509;
}
.card-box .body p {
  color: #3f3f3f;
}
.card-box .foot {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 30px;
}
.card-box .foot .button-main.bgc-1 {
  background: #f67509;
  color: #ffffff;
}
.card-box .foot .button-main.bgc-1:hover {
  background: #3f3f3f;
}

.footer {
  background: linear-gradient(0deg, #f16037 0%, #f67509 100%);
  padding: 70px 0;
}
.footer .img-logo-f {
  width: 140px;
}

.txt-f-link {
  transition: all 0.3s;
}

.box-cc {
  background-color: transparent;
  border-radius: 100%;
  width: 40px;
  min-width: 40px;
  height: 40px;
}
.box-cc svg {
  width: 22px;
  height: 22px;
}
.box-cc svg path {
  fill: #fff;
}

.txt-f li {
  margin-bottom: 10px;
}
.txt-f li .txt-f-link {
  color: #fff;
  transition: all 0.3s;
}
.txt-f li a.txt-f-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.bx_ms .form-control {
  padding: 14px;
  border: none;
  border-radius: 10px;
}

.box-b .txt-abu {
  height: 140px !important;
}
.box-b .txt-abu h3 {
  -webkit-line-clamp: 2;
}

.bx_nlt {
  display: flex;
  align-items: center;
}
.bx_nlt .inp {
  width: calc(100% - 80px);
  height: 66px;
  background-color: #fff;
  padding: 20px;
}
.bx_nlt .inp input {
  border: none;
}
.bx_nlt .btn-nlt {
  width: 80px;
  height: 66px;
  background-color: #e45e27;
  color: #fff;
  border: none;
  padding: 5px 30px;
}

.contact-list li {
  margin-bottom: 10px;
}
.contact-list .contact-l {
  display: flex;
}
.contact-list .contact-l .icon.box-cc {
  background: linear-gradient(0deg, #f16037 0%, #f67509 100%);
}
.contact-list .contact-l .icon.box-cc svg path {
  fill: #fff;
}
.contact-list .contact-l .txt-ct {
  font-size: 18px;
  font-family: "Kanit-Medium";
}
.contact-list .contact-l .txt-f-link {
  color: #000000;
  transition: all 0.3s;
}
.contact-list .contact-l a.txt-f-link:hover {
  color: #e45e27;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}
.footer-list .footer-item {
  width: 25%;
  padding: 20px 20px 20px 0;
}
.footer-list .footer-item .txt-contact .txt-contact-l {
  display: flex;
}
.footer-list .footer-item-m {
  width: 16%;
}
.footer-list .footer-item:first-child {
  padding-left: 0;
  padding-right: 40px;
}

.txt-20 {
  font-size: 20px;
}

.txt-32 {
  font-size: 32px;
}

.img-ab {
  width: 180px;
  margin: 0 auto;
}

@media only screen and (min-width: 1199px) and (max-width: 1399px) {
  .header .menu-h-list .menu-item .menu-link {
    font-size: 16px;
  }
  .a-wrap .a-wrap-item {
    min-height: 550px;
  }
  .a-wrap .a-wrap-item .txt {
    width: 85%;
  }
  .a-wrap.a-wrap1 .a-wrap-item {
    min-height: 550px;
  }
  .a-wrap.a-wrap1 .a-wrap-item .txt {
    width: 85%;
  }
  .a-wrap .a-wrap-item1 .img {
    width: 600px;
  }
  .a-wrap.a-wrap1 .a-wrap-item1 .img {
    width: 600px;
  }
  .box-os .txt {
    height: 130px;
    padding: 30px 20px 20px 20px;
  }
  .box-os:hover .txt h3 {
    font-size: 20px;
  }
  .box-os:hover .txt p {
    font-size: 16px;
  }
  .box-os:hover .link-more {
    bottom: 20px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  footer .footer-list .footer-item .txt-f li .txt-f-link {
    font-size: 14px;
  }
  .banner.banner-main {
    height: 300px;
  }
  .banner.banner-main::before {
    content: "";
    height: 300px;
  }
  .banner.banner-main .txt h1 {
    font-size: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .a-wrap .a-wrap-item {
    min-height: auto;
    padding: 80px 0px 80px 100px;
  }
  .a-wrap .a-wrap-item .txt {
    width: 85%;
  }
  .a-wrap.a-wrap1 .a-wrap-item {
    min-height: auto;
    padding: 80px 100px 80px 0px;
  }
  .a-wrap.a-wrap1 .a-wrap-item .txt {
    width: 85%;
  }
  .box-os .txt {
    height: 140px;
    padding: 40px 10px 20px 10px;
  }
  .owl-carousel-pp1 .card-box {
    padding: 30px 20px 100px 20px;
  }
  .owl-carousel-pp1 .card-box .body .txt-20 {
    font-size: 16px;
  }
  .a-wrap .a-wrap-item1 .img {
    width: 500px;
  }
  .a-wrap .a-wrap-item1 .img {
    width: 500px;
  }
}
@media only screen and (max-width: 1199px) {
  .menu-icon {
    display: block;
  }
  .header .menu-h-list {
    display: none;
  }
  .header .dropdown {
    display: none;
  }
  .menu-m-list {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  .header .wrap .dropdown {
    display: none;
  }
  .footer .footer-list {
    flex-wrap: wrap;
  }
  .footer .footer-list .footer-item {
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
  .footer .footer-list .footer-item .img-logo-f {
    margin: 0 auto;
  }
  .footer .footer-list .footer-item .txt-f {
    text-align: center;
  }
  .footer .footer-list .footer-item .txt-contact {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .footer-list .footer-item .txt-contact li {
    width: 50%;
  }
  .footer .footer-list .footer-item .txt-contact li .txt-contact-l {
    display: block;
  }
  .footer .footer-list .footer-item .txt-contact li .txt-contact-l .box-cc {
    margin: 0 auto 15px auto;
  }
  .footer .footer-list .footer-item:first-child {
    padding: 20px 15%;
  }
  .box-os .link-more {
    bottom: 20px;
  }
  .box-os .txt {
    max-height: 100%;
    height: auto;
  }
  .box-os .txt p {
    font-size: 18px;
    overflow: auto;
    -webkit-line-clamp: inherit;
  }
  .box-os:hover .img img {
    transform: scale(1.1);
  }
  .box-os:hover .txt {
    height: 100%;
    background: linear-gradient(0deg, rgba(241, 96, 55, 0.8) 0%, rgba(246, 117, 9, 0.8) 100%);
  }
  .box-os:hover .txt h3 {
    font-size: 21px;
  }
  .box-os:hover .txt p {
    font-size: 18px;
    overflow: auto;
    -webkit-line-clamp: inherit;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .box-b .txt {
    height: 100px;
  }
  .box-b .txt h3 {
    font-size: 14px;
  }
  .box-b:hover .txt h3 {
    font-size: 16px;
  }
  #imageGallery .showgal-product {
    height: 500px;
  }
  .banner.banner-main {
    height: 300px;
  }
  .banner.banner-main::before {
    content: "";
    height: 300px;
  }
  .banner.banner-main .txt h1 {
    font-size: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .a-wrap .a-wrap-item {
    width: 100%;
    min-height: auto;
    padding: 150px 60px 60px 60px;
  }
  .a-wrap .a-wrap-item .txt {
    width: 100%;
    text-align: center;
  }
  .a-wrap .a-wrap-item .txt .button-main.bgc-2.c-orange {
    margin: 0 auto;
  }
  .a-wrap .a-wrap-item1 {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 5;
    transform: translate(-50%, -50%);
  }
  .a-wrap .a-wrap-item1 .img {
    width: 700px;
    margin-right: 0;
  }
  .a-wrap.a-wrap1 .a-wrap-item {
    width: 100%;
    min-height: auto;
    padding: 150px 60px 60px 60px;
  }
  .a-wrap.a-wrap1 .a-wrap-item .txt {
    width: 100%;
    text-align: center;
  }
  .a-wrap.a-wrap1 .a-wrap-item .txt .button-main.bgc-2.c-orange {
    margin: 0 auto;
  }
  .a-wrap.a-wrap1 .a-wrap-item1 {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 5;
    transform: translate(-50%, -50%);
  }
  .a-wrap.a-wrap1 .a-wrap-item1 .img {
    width: 700px;
    margin-left: 0;
    margin-right: 0;
  }
  .banner {
    height: 700px;
  }
  .banner::before {
    content: "";
    height: 700px;
  }
  .banner .txt h1 {
    font-size: 42px;
  }
  .banner .txt p {
    font-size: 22px;
  }
  .txt-32 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .header .wrap .img-logo {
    width: 70px;
  }
  .header .wrap .button-main {
    display: none;
  }
  .box-search {
    width: 100%;
  }
  #imageGallery .showgal-product {
    height: 360px;
  }
  .btn-w {
    width: 100%;
  }
  .banner.banner-main {
    height: 260px;
  }
  .banner.banner-main::before {
    content: "";
    height: 260px;
  }
  .banner.banner-main .txt h1 {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .a-wrap .a-wrap-item {
    width: 100%;
    min-height: auto;
    padding: 70px 12px;
  }
  .a-wrap .a-wrap-item .txt {
    width: 100%;
    text-align: center;
  }
  .a-wrap .a-wrap-item .txt .button-main.bgc-2.c-orange {
    margin: 0 auto;
  }
  .a-wrap .a-wrap-item1 {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    z-index: 5;
    transform: translate(0, 0);
  }
  .a-wrap .a-wrap-item1 .img {
    width: 100%;
    margin-right: 0;
  }
  .a-wrap.a-wrap1 .a-wrap-item {
    width: 100%;
    min-height: auto;
    padding: 70px 12px;
  }
  .a-wrap.a-wrap1 .a-wrap-item .txt {
    width: 100%;
    text-align: center;
  }
  .a-wrap.a-wrap1 .a-wrap-item .txt .button-main.bgc-2.c-orange {
    margin: 0 auto;
  }
  .a-wrap.a-wrap1 .a-wrap-item1 {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    z-index: 5;
    transform: translate(0, 0);
  }
  .a-wrap.a-wrap1 .a-wrap-item1 .img {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .banner {
    height: 100vh;
  }
  .banner::before {
    content: "";
    height: 100vh;
  }
  .banner .txt h1 {
    font-size: 34px;
  }
  .banner .txt p {
    font-size: 20px;
  }
  .banner .txt p br {
    display: none;
  }
  .footer .footer-list .footer-item {
    width: 100%;
  }
  .footer .footer-list .footer-item .txt-contact {
    flex-wrap: wrap;
  }
  .footer .footer-list .footer-item .txt-contact li {
    width: 100%;
  }
  .footer .footer-list .footer-item:first-child {
    padding: 20px 0;
  }
  .txt-32 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 290px) {
  .owl-carousel-pp1 .card-box {
    padding: 30px 10px 100px 10px;
  }
  .owl-carousel-pp1 .card-box .body .txt-20 {
    font-size: 15px;
  }
  .box-os .txt p {
    font-size: 14px;
  }
  .txt-32 {
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */